.the-bar{
    width : 100vmin;
    height: 5vmin;
    background-color: rgb(209, 206, 206);
    margin: auto;
    display: flex;
    flex-direction: row;
    /* position: fixed;
    bottom: 0; */
    z-index: 1;
    opacity: 0.5;
    transition: opacity 1s;
}

.the-bar:hover{
    opacity: 1;
}

.ConnectionBar-rightbar{
    width: 95vmin;
}

.ConnectionBar-progress{
    width: 0%;
    height: 100%;
    background-color: pink;
    transition: 1.5s;
}

.ConnectionBar-secpos{
    position: absolute;
    display: flex;
    width: 95vmin;
    height: 4vmin;
    font-size: 2vmin;
    /* opacity: 0.5; */
    background-color: rgb(241, 213, 86,0.5);
}

.ConnectionBar-sec{
    color: rgb(45, 70, 99);
    transition: 0.5s;
    text-align: center;
    border-right: 1px solid rgba(99, 96, 96, 0.226);
}

.ConnectionBar-sec:hover{
    background-color: rgb(52, 130, 248);
    color: wheat;
    cursor: pointer;
}


.sticky {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    opacity: 1;
    animation-name: ConnectionBar-bounce;
    animation-duration: 0.5s;
  }

  @keyframes ConnectionBar-bounce {
    0%   {top:1vmin;}
    20%  { top:-1vmin;}
    40%  {top:0.5vmin;}
    60%  { top:-0.5vmin;}
    80% { top:0.2vmin;}
    100% { top:-0.2vmin;}
  }

  .sticky + *{
    padding-top: 5vmin;
  }

.ConnectionBar-top{
    color: rgb(45, 70, 99);
    background-color: tomato;
    transition: 0.5s;
    display: flex;
    align-items: center;
    width: 5vmin;
    font-size: 1.5vmin;
}

.ConnectionBar-top:hover{
    background-color: rgb(52, 130, 248);
    color: wheat;
    cursor: pointer;
}