.NameCard-container{
    background-color: ivory;
    height: 25vmin;
    width: 60vmin;
    border-radius: 5%;
    margin: auto;
    margin-bottom: 2vmin;
    margin-top: 2vmin;
    display: flex;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    transition: opacity 1s;
    font-size: 1.5vmin;
}

.NameCard-container-show{
    opacity: 1;
}

.profile-pic{
    border: solid 1px rgb(89, 188, 245);
    border-radius: 50%;
    height: 80%;
    width: 33%;
    display: flex;
    margin-right: 10%;
    margin-left: 5%;
    transition: opacity 0.5s;
}

.profile-pic:hover{
    opacity: 0.7;
    cursor: pointer;
}

.profile-info {
    font-size: 100%;
}

p{
    line-height: 10%;
    text-overflow:inherit;
}

.profile-info-bio{
    font-size: 70%;
    margin-right: 5%;
}