.NameCard-container{
    background-color: ivory;
    height: 25vw;
    width: 60vw;
    border-radius: 5%;
    margin: auto;
    margin-bottom: 2vmin;
    margin-top: 2vmin;
    display: flex;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    transition: 1s;
}

.NameCard-container-show{
    opacity: 1;
}

.profile-pic{
    border: solid 0.2vmin red;
    border-radius: 50%;
    height: 20vw;
    width: 20vw;
    display: flex;
    margin-right: 5vw;
    margin-left: 1vw;
    transition: 0.5s;
}

.profile-pic:hover{
    opacity: 0.7;
    cursor: pointer;
}

.profile-info {
    font-size: 1.5vw;
}

p{
    line-height: 0.5vmin;
    text-overflow:inherit;
}

.profile-info-bio{
    font-size: 1vw;
}