.InputAtBottom-container{
    background-color: brown;
    /* display: flex; */
    height: fit-content;
    
}

.InputAtBottom-text{
    background-color: pink;
    max-height: 10em;
    /* height: 1em; */
    /* flex:1; */
    /* width: 20em; */
}