.InputAtBottom-container{
    background-color: brown;
    flex-direction: row;
    /* display: flex; */
    /* display: none; */
}

.InputAtBottom-text{
    background-color: pink;
    max-height: 10em;
    flex:1;
    resize: none;
}