.ContentContainer-container{
    background-color: rgba(255, 255, 247, 0.9);
    width: 100vmin;
    margin: auto;
}

.ContentContainer-content{
    padding: 3vw;
    
}

.ContentContainer-title{
    border-bottom: solid 2px black;
    font-size: 30px;
}

.ContentContainer-section{
    border: solid 1px grey;
    width : 100%;
    height: fit-content;
    border-radius: 10%;
}
.footer {
    height: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}