.ChatBox-withbutton{
    position: fixed;
    z-index: 2;
    bottom: 0;
    display: flex;
    flex-direction: row;
    right: 0;
}

.ChatBox-container{
    width: 40vmin;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    transition: 1s;
    float:left;
}

.Chat-container{
    overflow-y: auto;
    background-color: rgb(245, 235, 235);
    flex:1;
}

.ChatBox-button{
    background-color: pink;
    color:white;
    width: 6vmin;
    height: 6vmin;
    border-radius: 50%;
    align-self: flex-end;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s;
    user-select: none;
}

.ChatBox-button:hover{
    opacity: 0.7;
    cursor: pointer;
}