.ChatBox-container{
    min-height: 60vmin;
    width: fit-content;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
}

.Chat-container{
    overflow-y: scroll;
    background-color: grey;
    flex:1;
}